<div class="container">
  <h1>Training</h1>
  <div class="box-event">
    <div class="row">
      <div class="col-3">
        <h2>Сб, 15 Августа</h2>
        <h2>9:00-15:00</h2>
      </div>
      <div class="col-1">
        <img src="/images/PointMap.png" />
      </div>
      <div class="col-4">
        <p>Самара, Красноглинское шоссе</p>
        <a href="https://www.google.com/maps/place/53.346222,50.242778">53.346222,50.242778</a>
      </div>
      <div class="col-2">
        <p>Примут участие 45 человек</p>
      </div>
      <div class="col-2">
       <button type="submit" class="btn btn-success">Записаться</button>
      </div>
    </div>
  </div>
</div>


