<div class="container">
  <div class="row title">
    <div class="col-md-9">
      <h1>Тренировки</h1>
    </div>
    <div class="col-md-3 text-right">
      <a class="btn btn-outline-light" [routerLink]='["/training/add"]'>Добавить тренировку</a>
    </div>
  </div>

  <!--<div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        
        <tr *ngFor="let training of trainings | async">
          <td>{{training.name}}</td>
          <td>{{training.coordX}}</td>
          <td>{{training.coordY}}</td>
          <td>{{training.date}}</td>
          <td>{{training.startTime}}</td>
          <td>{{training.endTime}}</td>
          <td>{{training.place}}</td>
        </tr>
      </table>
    </div>
  </div>-->

  <div class="row box-event" *ngFor="let training of trainings | async" >
    <div class="col-lg-3 col-md-3 col-sm-12 col-12">
      <h4><span class="badge badge-info">Тренировка</span></h4>
      <h3>{{training.date}}</h3>
      <h3>{{training.startTime}}-{{training.endTime}}</h3>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-2 col-3">
      <img src="/images/PointMap.png" />
    </div>
    <div class="col-lg-4 col-md-4 col-sm-10 col-9">
      <h3>{{training.place}}</h3>
      <a href="https://www.google.com/maps/place/'+{{training.coordX}}+,+{{training.coordY}}'" target="_blank">{{training.coordX}},{{training.coordY}}</a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-6 col-12 text-center">
      <div class="participants">Примут участие: <span class="count">45</span> человек</div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-6 col-12 text-center">
      <button type="submit" class="btn btn-success">Записаться</button>
    </div>
  </div>

  <!--<div class="row box-event">
    <div class="col-lg-3 col-md-3 col-sm-12 col-12">
      <h4><span class="badge badge-info">Тренировка</span></h4>
      <h3>Сб, 15 Августа</h3>
      <h3>9:00-15:00</h3>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-2 col-3">
      <img src="/images/PointMap.png" />
    </div>
    <div class="col-lg-4 col-md-4 col-sm-10 col-9">
      <h3>Самара, Красноглинское шоссе</h3>
      <a href="https://www.google.com/maps/place/53.346222,50.242778">53.346222,50.242778</a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-6 col-12 text-center">
      <div class="participants">Примут участие: <span class="count">45</span> человек</div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-6 col-12 text-center">
      <button type="submit" class="btn btn-success">Записаться</button>
    </div>
  </div>-->


  
</div>


