/*.form-group {
  position: relative;
  width: 480px;
  height: 48px;
  padding-bottom: 8px;
}*/

.box-event {
  position: relative;
  margin: 0 0 16px 0;
  width: 100%;
  padding: 16px;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

/*.form-group .form-control {
  height: 28px;
  width: 240px;
  background: #C9BE83;
  border-radius: 2px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}*/

.form-group .form-label {
  width: 240px;
  text-align: left;
  color: #E5E5E5;
}
.participants {
  text-align: center;
  font-size: 16px;
  align-items: center;
  color: #E5E5E5;
}
.count {
  font-size: 24px;
}
