<div class="row">
  <div class="col-md-12">
    <a class="btn btn-primary" [routerLink]='["/users/add"]'>Add</a>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Id</th>
          <th>Photo</th>
          <th>Username</th>
          <th>Lastname</th>
          <th>Firstname</th>
          <th>Role</th>
          <th>RegistrationDate</th>
          <th>State</th>
          <th>HasCar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users | async">
          <td>{{user.id}}</td>
          <td><img src="/images/gun-48.png" /></td>
          <td>{{user.userName}}</td>
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.role}}</td>
          <td>{{user.registrationDate}}</td>
          <td>{{user.state}}</td>
          <td>{{user.hasCar}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
