<div class="container">
  <div class="box-breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/users/list">Команда</a></li>
      <li class="breadcrumb-item active" aria-current="page">Новый член команды</li>
    </ol>
  </div>
  <div class="box-form">
    <form (ngSubmit)="onSubmit()" #addUserForm="ngForm">
      <div class="form-group row">
        <div class="col-lg-3 col-md-3 col-sm-4 col-12">
          <label for="email" class="form-label">Email</label>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-8 col-12">
          <input type="text" class="form-control" id="email" name="email" [(ngModel)]="model.email" required>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-lg-3 col-md-3 col-sm-4 col-12">
          <label for="username" class="form-label">NickName</label>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-8 col-12">
          <input type="text" class="form-control" id="username" name="username" [(ngModel)]="model.userName" required>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-lg-3 col-md-3 col-sm-4 col-12">
          <label for="firstName" class="form-label">Имя</label>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-8 col-12">
          <input type="text" class="form-control" name="firstName" [(ngModel)]="model.firstName" id="firstName" #firstName="ngModel" required>
          <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
               class="alert alert-danger">
            <div *ngIf="firstName.errors.required">
              First name is required.
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-lg-3 col-md-3 col-sm-4 col-12">
          <label for="lastName" class="form-label">Фамилия</label>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-8 col-12">
          <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="model.lastName" required>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-lg-3 col-md-3 col-sm-4 col-12">
          <label for="role" class="form-label">Роль</label>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-8 col-12">
          <div class="btn-group" role="group" id="role" name="role" aria-label="role-group" [(ngModel)]="model.role" *ngFor="let role of userRole.values()">
            <button type="button" class="btn btn-secondary">
              {{role}}
            </button>
          </div>
          <!--<select class="form-control" id="role" name="role" [(ngModel)]="model.role">
              <option *ngFor="let role of userRole.values()">
                {{role}}
              </option>
            </select>-->
        </div>
      </div>

      <div class="form-group row">
        <div class="col-lg-3 col-md-3 col-sm-4 col-12">
          <label for="state" class="form-label">Статус</label>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-8 col-12">
          <div class="btn-group" role="group" name="state" id="state" aria-label="state-group" [(ngModel)]="model.state" *ngFor="let state of userState.values()">
            <button type="button" class="btn btn-secondary">
              {{state}}
            </button>
          </div>
          <!--<select class="form-control" id="state" name="state" [(ngModel)]="model.state">
              <option *ngFor="let state of userState.values()">
                {{state}}
              </option>
            </select>-->
        </div>
      </div>

      <div class="form-check">
        <div class="col-12">
          <input type="checkbox" class="form-check-input" id="hasCar" name="hasCar" [(ngModel)]="model.hasCar">
          <label class="form-check-label" for="hasCar">Has Car</label>
        </div>
      </div>
      
      <div class="form-group row">
        <div class="col-lg-3 col-md-3 col-sm-4 col-12">
          <label for="password" class="form-label">Password</label>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-8 col-12">
          <input type="password" class="form-control" id="password" name="password" [(ngModel)]="model.password">
        </div>
      </div>

      <button type="submit" class="btn btn-success">Submit</button>

    </form>
  </div>  
</div>
